<a href="https://colab.research.google.com/github/Vikneshwaran207/Python-Lists-Problems-and-Solutions/blob/main/Python_List_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Swap 1st and last element of list

In [ ]:
a = [12,24,36,48,60]
def swap(a):
    a[0], a[-1] = a[-1], a[0]
    return a
print(swap(a))

[60, 24, 36, 48, 12]

# Swap two elements in a list

In [ ]:
a = [12,24,36,48,60]
def swap(a,pos1,pos2):
    a[pos1], a[pos2] = a[pos2], a[pos1]
    return a
pos1,pos2 = 3,5
print(swap(a,pos1-1,pos2-1))

[12, 24, 60, 48, 36]

# Find Length of the list using len() function

In [ ]:
a = [12,24,36,48,60]

print(len(a))

5

In [ ]:
a = []
a.append("12")
a.append("24")
a.append("36")
a.append("48")
a.append("60")

print("The length of list a is", len(a))

The length of list a is 5

In [ ]:
a = []
a.append("Hello")
a.append("World")
a.append("Vikram")
a.append("Rolex")
a.append("Dilli")

print("The elements in the list a is", a)
print("The length of list a is", len(a))

The elements in the list a is ['Hello', 'World', 'Vikram', 'Rolex', 'Dilli']
The length of list a is 5

# Maximum of Two numbers

In [ ]:
a = 12
b = 60
def max(a,b):
   if a >= b:
      return a
   else:
      return b
print (max(a,b))

60

In [ ]:
a = 122
b = 60
number = max(a,b)
print(" the maximum no. between two is", number)

 the maximum no. between two is 122

In [ ]:
a = 122
b = 150
print ( a if a>=b else b)

150

# Minimum of two numbers

In [ ]:
a = 12
b = 60
def min(a,b):
   if a <= b:
      return a
   else:
      return b
print (min(a,b))

12

In [ ]:
a = 122
b = 60
number = min(a,b)
print(" the minimum no. between two is", number)

 the minimum no. between two is 60

# Print even numbers in the range

In [33]:
start = 10
end = 21
for num in range(10,21,2):
    print(num)

10
12
14
16
18
20

In [36]:
start = int(input("Enter start num?"))
end = int(input("Enter end num?"))
for num in range(start,end,+1):
    if num % 2 == 0 :
       print(num, end = " ")

Enter start num?4
Enter end num?10
4 6 8

# Print odd numbers in range

In [39]:
start = 10
end = 21
for num in range(start,end,+1):
    if num % 2 != 0:
       print(num, end = " ")

11 13 15 17 19

In [40]:
start = int(input("Enter start num?"))
end = int(input("Enter end num?"))
for num in range(start,end,+1):
    if num % 2 != 0 :
       print(num, end = " ")

Enter start num?2
Enter end num?12
3 5 7 9 11